.btn {
	border: none;
	background: transparent;
	-webkit-appearance: none;
	background: $color-primary;
	border-radius: 5px;
	padding: 0.5em;
	color: white;
	font-weight: 700;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	&:hover, &:focus {
		background-color: darken($color-primary, 5%);
	}
}

.btn--small {
	padding: 0.1em 0.5em;
	font-size: 0.8em;
}

.btn--menu {
	background: url(/images/btn-menu.svg) no-repeat 50% 50%;
	width: 2em;
	height: 2em;
	&.is-toggled {
		background-image: url(/images/btn-close.svg);
	}
	&:active, &:focus {
		outline: none;
		background-color: transparent;
	}
}
