html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
}

main {
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
}

.wrapper {
	width: 100%;
	height: 100%;
}
