@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.spin {
	animation: spin 0.8s linear infinite;
}

.fadeIn-appear {
	opacity: 0.01;
	transition: opacity 200ms ease-in-out 1s;
}

.fadeIn-appear.fadeIn-appear-active {
	opacity: 1;
}
