body {
	font-family: $font-sans;
	font-size: 16px;
	line-height: $base-line-height;
	color: $color-text;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: $color-primary;
}
