/* z-indexes */

$z-map: 1;
$z-sidebar: 2;
$z-header: 3;

/* typography */

$base-line-height: 1.3em;
$font-sans: "proxima-nova", "Helvetica Neue", sans-serif;
$font-serif: Georgia, serif;

/* colors */

$color-black: #262626;
$color-text: $color-black;

$color-grey: #9C9C9C;
$color-light-grey: #eaeaea;
$color-primary: #17B14B;

/* MQ: https://github.com/sass-mq/sass-mq */

$mq-responsive: true;
$mq-breakpoints: (
		xs: 320px,
		s:  500px,
		m:  740px,
		l: 	980px,
		xl: 1300px,
);

/* $mq-show-breakpoints: (xs, s, m, l, xl); */

/* various */

$sidebar-width: 22em;
