.header {
	position: relative;
	padding: 0 0.5em;
	height: 3em;
	background: $color-primary;
	z-index: $z-header;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	@include mq(s) {
		padding: 0 1em;
		height: 4em;
	}
}

.header__logo {
	position: absolute;
	top: 0;

	bottom: 0;
	left: 1em;
	display: block;
	padding: 1em 0;
	width: 6em;
	height: auto;
	margin: auto;
	@include mq(s) {
		width: 8em;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.header__btn {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 32px;
	height: 32px;
	display: block;
	padding: 1em;

}
