.locations {
	overflow: hidden;
	height: 100%;
}

.locations__list {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}

.locations__opts {
	display: none;
	padding: 0.5em;
	text-align: right;
	background: $color-light-grey;
	/* background: lighten($color-light-grey, 7%); */
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	position: relative;
	&:after {
		user-select: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		display: block;
		background: rgba(white, 0.5);
	}
}

.location {
	cursor: pointer;
	margin-top: -1px;
	border-top: 1px solid $color-light-grey;
	border-bottom: 1px solid $color-light-grey;
	transition: background-color 200ms ease-in-out;
	&.is-highlighted {
		background-color: #F9F8F7;
	}
	&:active {
		background-color: lighten(#F9F8F7, 5%) ;
	}
}

.location__overview {
	display: flex;
}

.location__id {
	text-align: center;
	font-size: 1.5em;
	color: $color-grey;
	font-weight: 300;
	align-self: flex-start;
	padding: 0.5em 0.3em;
}

.location__marker {
	width: 100%;
	max-width: 45px;
	height: auto;
}

.location__detail {
	padding: 0 1em;
	align-self: center;
	transition: opacity 100ms ease-out 100ms;
	height: 0;
	opacity: 0;
	overflow: hidden;
	&.is-open {
		margin-bottom: 1em;
		height: auto;
		opacity: 1;
	}
}

.location__header {

}

.location__title {
	font-size: 0.9em;
	font-weight: 700;
	line-height: 1.3em;
	margin: 0.5em 0 0;
	color: $color-text;
	text-decoration: none;
}

.location__rating {
	line-height: 16px;
	vertical-align: middle;
	font-size: 0.8em;
	color: $color-grey;
	/* margin: 0.5em 0; */
}


.location__body {
	/* display: none; */
}

.location__description {
	/* border-top: 1px solid $color-light-grey; */
	font-size: 0.9em;

}

.location__features {
	margin: 1em 0;
}

.location__img {
	max-width: 100%;
}

.location__book {
	padding: 0.5em;
	width: 6em;
	text-align: right;
	margin-left: auto; // right aligns things in a flexbox.
}

.location__price {
	font-size: 1em;
	color: #E07A2B;
	font-weight: 600;
	align-self: center;
	padding: 0.3em;
	text-align: right;
}

.location__link {
	font-size: 0.9em;
}

.location__spaces {
	margin: 0.3em 0;
	color: $color-grey;
	font-style: italic;
	font-weight: 500;
	font-size: 0.8em;
}

.location__btn-info {
	display: block;
	margin: 0.5em;
	width: 1.4em;
	height: 1.4em;
	background: url(/images/icon-info.svg) no-repeat 50%;
	background-size: 100%;
	text-indent: -999em;
	position: relative;
	overflow: hidden;
	color: transparent;
	user-select: none;
	float: right;
}

/* features */

.features {
	margin-bottom: 1em;
}

.features__title {
	display: none;
	font-size: 0.8em;
	text-transform: uppercase;
	color: $color-grey;
}

.feature {
	vertical-align: top;
	width: 3.6em;
	margin: 0 0.5em;
	text-align: center;
}

.feature__icon {

}

.feature__label {
	text-align: center;
	font-weight: 600;
	font-size: 0.8em;
	line-height: 1.1em;
	color: $color-grey;
}
