.map {
	padding-top: 3em;
	/* width: calc(100% - 25em); */
	width: 100%;
	height: calc(100vh - 3em);
	position: absolute;
	top: 0;
	left: 0;
	z-index: $z-map;
	transition: width 100ms ease-in-out, height 100ms ease-in-out;

	&.is-unfocused {
		height: 40vh;
		@include mq(m) {
			height: calc(100vh - 4em);
			width: calc(100vw - 22em);
		}
	}
	> div {
		height: 100%;
		width: 100%;
	}
	@include mq(m) {
		padding-top: 4em;
		height: 100%;
	}
}

/*
.directions-panel {
	width: 25em;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	padding: 1em;
	background-color: white;
}
 */
