.sidebar {
	width: 100%;
	height: calc(70vh - 3em);
	background: rgba(white, 1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	position: absolute;
	right: 0;
	top: calc(40vh + 3em);
	z-index: $z-sidebar;
	transition: transform 100ms ease-in-out;
	border-top: 1px solid white;
	&:after {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 10px;
		width: 100%;
		content: " ";
		background: linear-gradient( rgba(white, 1), rgba(white, 0) );
		z-index: 20;
	}
	&.is-closed {
		transform: translate(0, $sidebar-width);
		@include mq(m) {
			transform: translate($sidebar-width, 0);
		}
	}

	@include mq(m) {
		width: $sidebar-width;
		top: 4em;
		height: calc(100% - 4em);
		&:after {
			display: none;
		}
	}
}
